XmlSchemas.Common.XmlScript/XMLScripting.Report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by MW (EMBRACE) -->
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema 
  xmlns="urn:schemas-www-wisware.nl-xmlscripting-report" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:sys="urn:schemas-www-wisware.nl-xmlscripting" 
  targetNamespace="urn:schemas-www-wisware.nl-xmlscripting-report" elementFormDefault="qualified">
  <xs:import namespace="urn:schemas-www-wisware.nl-xmlscripting" schemaLocation="XMLScripting.xsd"/>
  <xs:simpleType name="markup">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal"/>
      <xs:enumeration value="Header1"/>
      <xs:enumeration value="Header2"/>
      <xs:enumeration value="Header3"/>
      <xs:enumeration value="Header4"/>
      <xs:enumeration value="Header5"/>
      <xs:enumeration value="Header6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="T_ReportItem">
    <xs:complexContent>
      <xs:extension base="sys:T_AbstractConditionalProcessItem">
        <xs:attribute name="Target" type="sys:reporttargetidentifier" use="optional"/>
        <xs:attribute name="Text" type="sys:expression" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="T_Reporter.DefaultTarget">
    <xs:complexContent>
      <xs:extension base="sys:T_AbstractConditionalProcessItem">
        <xs:attribute name="Identifier" type="sys:reporttargetidentifier" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="T_MarkupReportItem">
    <xs:complexContent>
      <xs:extension base="T_ReportItem">
        <xs:attribute name="Markup" type="markup" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="T_Reporter.IterateTarget">
    <xs:complexContent>
      <xs:extension base="sys:T_AbstractConditionalProcessItem">
        <xs:sequence>
          <xs:element name="Information" minOccurs="0">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="sys:T_Block">
                  <xs:attribute name="Text" type="sys:identifier" use="required"/>
                  <xs:attribute name="Markup" type="sys:identifier" use="required"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="Error" minOccurs="0">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="sys:T_Block">
                  <xs:attribute name="Text" type="sys:identifier" use="required"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="Iterator" type="sys:expression" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="T_Reporter.GetIterator">
    <xs:complexContent>
      <xs:extension base="sys:T_AbstractConditionalProcessItem">
        <xs:attribute name="Target" type="sys:reporttargetidentifier" use="required"/>
        <xs:attribute name="Iterator" type="sys:identifier" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Reporter.GetIterator" type="T_Reporter.GetIterator" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Reporter.IterateTarget" type="T_Reporter.IterateTarget" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Reporter.Information" type="T_MarkupReportItem" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Reporter.Error" type="T_ReportItem" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Reporter.DefaultTarget" type="T_Reporter.DefaultTarget" substitutionGroup="sys:AbstractProcessItem"/>
</xs:schema>
