XmlSchemas.Common.XmlScript/XMLScripting.Ado.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by MW (EMBRACE) -->
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns="urn:schemas-www-wisware.nl-xmlscripting-ado" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:sys="urn:schemas-www-wisware.nl-xmlscripting" 
  xmlns:ado="urn:schemas-www-wisware.nl-xmlscripting-ado" 
  targetNamespace="urn:schemas-www-wisware.nl-xmlscripting-ado" elementFormDefault="qualified">
  <xs:import namespace="urn:schemas-www-wisware.nl-xmlscripting" schemaLocation="XMLScripting.xsd"/>
  <xs:simpleType name="T_AdoDataType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="adEmpty"/>
      <xs:enumeration value="adArray"/>
      <xs:enumeration value="adBigInt"/>
      <xs:enumeration value="adBinary"/>
      <xs:enumeration value="adBoolean"/>
      <xs:enumeration value="adBSTR"/>
      <xs:enumeration value="adChapter"/>
      <xs:enumeration value="adChar"/>
      <xs:enumeration value="adCurrency"/>
      <xs:enumeration value="adDate"/>
      <xs:enumeration value="adDBDate"/>
      <xs:enumeration value="adDBTime"/>
      <xs:enumeration value="adDBTimeStamp"/>
      <xs:enumeration value="adDecimal"/>
      <xs:enumeration value="adDouble"/>
      <xs:enumeration value="adEmpty"/>
      <xs:enumeration value="adError"/>
      <xs:enumeration value="adFileTime"/>
      <xs:enumeration value="adGUID"/>
      <xs:enumeration value="adInteger"/>
      <xs:enumeration value="adIUnknown"/>
      <xs:enumeration value="adLongVarBinary"/>
      <xs:enumeration value="adLongVarChar"/>
      <xs:enumeration value="adLongVarWChar"/>
      <xs:enumeration value="adNumeric"/>
      <xs:enumeration value="adPropVariant"/>
      <xs:enumeration value="adSingle"/>
      <xs:enumeration value="adSmallInt"/>
      <xs:enumeration value="adTinyInt"/>
      <xs:enumeration value="adUnsignedBigInt"/>
      <xs:enumeration value="adUnsignedInt"/>
      <xs:enumeration value="adUnsignedSmallInt"/>
      <xs:enumeration value="adUnsignedTinyInt"/>
      <xs:enumeration value="adUserDefined"/>
      <xs:enumeration value="adVarBinary"/>
      <xs:enumeration value="adVarChar"/>
      <xs:enumeration value="adVariant"/>
      <xs:enumeration value="adVarNumeric"/>
      <xs:enumeration value="adVarWChar"/>
      <xs:enumeration value="adWChar"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="T_AdoParamDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="adParamUnknown"/>
      <xs:enumeration value="adParamInput"/>
      <xs:enumeration value="adParamOutput"/>
      <xs:enumeration value="adParamInputOutput"/>
      <xs:enumeration value="adParamReturnValue"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="T_AdoCursorLocation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="adUseNone"/>
      <xs:enumeration value="adUseServer"/>
      <xs:enumeration value="adUseClient"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="T_AdoCursorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="adOpenUnspecified"/>
      <xs:enumeration value="adOpenForwardOnly"/>
      <xs:enumeration value="adOpenKeyset"/>
      <xs:enumeration value="adOpenDynamic"/>
      <xs:enumeration value="adOpenStatic"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="T_AdoLockType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="adLockUnspecified"/>
      <xs:enumeration value="adLockReadOnly"/>
      <xs:enumeration value="adLockPessimistic"/>
      <xs:enumeration value="adLockOptimistic"/>
      <xs:enumeration value="adLockBatchOptimistic"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="T_AdoCommandType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="adCmdText"/>
      <xs:enumeration value="adCmdTable"/>
      <xs:enumeration value="adCmdStoredProc"/>
      <xs:enumeration value="adCmdUnknown"/>
      <xs:enumeration value="adCmdFile"/>
      <xs:enumeration value="adCmdTableDirect"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="T_Objects">
    <xs:sequence>
      <xs:element name="Connections" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Connection" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Command" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Parameter" minOccurs="0" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:attribute name="Name" type="xs:string" use="required"/>
                            <xs:attribute name="ParameterName" type="xs:string" use="required"/>
                            <xs:attribute name="Type" type="T_AdoDataType"/>
                            <xs:attribute name="Direction" type="T_AdoParamDirection"/>
                            <xs:attribute name="Size" type="xs:integer"/>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="Name" type="xs:string" use="required"/>
                      <xs:attribute name="CommandText" type="xs:string" use="required"/>
                      <xs:attribute name="CommandType" type="T_AdoCommandType"/>
                      <xs:attribute name="Prepared" type="xs:boolean"/>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Recordset" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Fields" minOccurs="0">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="Field" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:attribute name="Name" type="xs:string" use="required"/>
                                  <xs:attribute name="FieldName" type="xs:string" use="required"/>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="FunctionMappings" minOccurs="0">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="RecordsetEofFunction" minOccurs="0">
                                <xs:complexType>
                                  <xs:attribute name="Identifier" use="required"/>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="RecordsetBofFunction" minOccurs="0">
                                <xs:complexType>
                                  <xs:attribute name="Identifier" use="required"/>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="FieldFunction" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:attribute name="Identifier" type="xs:string" use="required"/>
                                  <xs:attribute name="FieldName" type="xs:string" use="required"/>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="RepeatingFieldFunctionGroup" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="RepeatingFieldFunction" maxOccurs="unbounded">
                                      <xs:complexType>
                                        <xs:attribute name="Identifier" type="xs:string" use="required"/>
                                        <xs:attribute name="FieldNameExpression" type="xs:string" use="required"/>
                                        <xs:attribute name="IndexIdentifier" use="optional"/>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                  <xs:attribute name="CountIdentifier" use="required"/>
                                  <xs:attribute name="Count" type="xs:positiveInteger" use="required"/>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="Name" type="xs:string" use="required"/>
                      <xs:attribute name="CursorLocation" type="T_AdoCursorLocation" use="optional"/>
                      <xs:attribute name="CursorType" type="T_AdoCursorType" use="optional"/>
                      <xs:attribute name="LockType" type="T_AdoLockType" use="optional"/>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="Name" type="xs:string" use="required"/>
                <xs:attribute name="ConnectionString" type="xs:string" use="optional"/>
                <xs:attribute name="ConnectionFile" type="xs:string" use="optional"/>
                <xs:attribute name="CursorLocation" type="T_AdoCursorLocation"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="T_BaseRecordsetProcessItem">
    <xs:complexContent>
      <xs:extension base="sys:T_AbstractConditionalProcessItem">
        <xs:attribute name="Recordset" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="T_OpenRecordsetProcessItem">
    <xs:complexContent>
      <xs:extension base="T_BaseRecordsetProcessItem">
        <xs:attribute name="Command" type="xs:string" use="required"/>
        <xs:attribute name="CheckFieldsExpression" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="T_Recordset.Delete">
    <xs:complexContent>
      <xs:extension base="T_BaseRecordsetProcessItem">
        <xs:attribute name="Affect" type="sys:expression" use="optional">
          <xs:annotation>
            <xs:documentation>
              adAffectCurrent
              adAffectGroup
              adAffectAll
              adAffectAllChapters
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="T_BaseCommandProcessItem">
    <xs:complexContent>
      <xs:extension base="sys:T_AbstractConditionalProcessItem">
        <xs:attribute name="Command" type="sys:expression" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="T_CommandSetCommandTimeoutProcessItem">
    <xs:complexContent>
      <xs:extension base="sys:T_AbstractProcessItem">
        <xs:attribute name="Command" type="xs:string" use="required"/>
        <xs:attribute name="Value" type="xs:string" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="T_Recordset.OpenBlock">
    <xs:complexContent>
      <xs:extension base="sys:T_AbstractConditionalBlockProcessItem">
        <xs:attribute name="Recordset" type="sys:identifier" use="optional"/>
        <xs:attribute name="Command" type="sys:expression" use="optional"/>
        <xs:attribute name="CursorLocation" type="sys:expression" use="optional">
          <xs:annotation>
            <xs:documentation>
              adUseNone
              adUseServer
              adUseClient
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="CursorType" type="sys:expression" use="optional">
          <xs:annotation>
            <xs:documentation>
              adOpenUnspecified
              adOpenForwardOnly
              adOpenKeyset
              adOpenDynamic
              adOpenStatic
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="LockType" type="sys:expression" use="optional">
          <xs:annotation>
            <xs:documentation>
              adLockUnspecified
              adLockReadOnly
              adLockPessimistic
              adLockOptimistic
              adLockBatchOptimistic
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="T_Recordset.Iterate">
    <xs:complexContent>
      <xs:extension base="sys:T_AbstractConditionalBlockProcessItem">
        <xs:attribute name="Recordset" type="sys:expression" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="T_ConnectionOpenBlockProcessItem">
    <xs:complexContent>
      <xs:extension base="sys:T_AbstractConditionalBlockProcessItem">
        <xs:attribute name="ConnectionString" type="sys:expression" use="required"/>
        <xs:attribute name="Connection" type="sys:identifier" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="T_BaseConnectionProcessItem">
    <xs:complexContent>
      <xs:extension base="sys:T_AbstractConditionalBlockProcessItem">
        <xs:attribute name="Connection" type="xs:string" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="T_ConnectionOpenProcessItem">
    <xs:complexContent>
      <xs:extension base="sys:T_AbstractProcessItem">
        <xs:attribute name="Connection" type="sys:identifier" use="required"/>
        <xs:attribute name="ConnectionString" type="sys:expression" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="T_ParameterSetValue">
    <xs:complexContent>
      <xs:extension base="sys:T_AbstractProcessItem">
        <xs:attribute name="Parameter" type="xs:string" use="required"/>
        <xs:attribute name="Expression" type="xs:string" use="required"/>
        <xs:attribute name="Condition" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="T_FieldGetFieldObject">
    <xs:complexContent>
      <xs:extension base="sys:T_AbstractProcessItem">
        <xs:attribute name="Field" type="xs:string" use="required"/>
        <xs:attribute name="Identifier" type="xs:string" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="T_ConnectionGetConnectionObject">
    <xs:complexContent>
      <xs:extension base="sys:T_AbstractProcessItem">
        <xs:attribute name="Connection" type="xs:string" use="required"/>
        <xs:attribute name="Identifier" type="xs:string" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="T_BasicField">
    <xs:complexContent>
      <xs:extension base="sys:T_AbstractConditionalProcessItem">
        <xs:attribute name="Name" type="xs:string" use="optional"/>
        <xs:attribute name="Index" type="xs:integer" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="T_FieldGetValue">
    <xs:complexContent>
      <xs:extension base="T_BasicField">
        <xs:attribute name="Identifier" type="sys:identifier" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="T_FieldSetValue">
    <xs:complexContent>
      <xs:extension base="T_BasicField">
        <xs:attribute name="Value" type="xs:string" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="T_ParameterGetValue">
    <xs:complexContent>
      <xs:extension base="sys:T_AbstractProcessItem">
        <xs:attribute name="Parameter" type="xs:string" use="required"/>
        <xs:attribute name="Identifier" type="xs:string" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="T_Connection.Create">
    <xs:complexContent>
      <xs:extension base="sys:T_AbstractConditionalProcessItem">
        <xs:attribute name="Connection" type="sys:identifier" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="T_Command.Create">
    <xs:complexContent>
      <xs:extension base="sys:T_AbstractConditionalProcessItem">
        <xs:attribute name="Command" type="sys:identifier" use="required"/>
        <xs:attribute name="CommandText" type="sys:expression" use="required"/>
        <xs:attribute name="CommandType" type="sys:expression" use="required"/>
        <xs:attribute name="CommandTimeout" type="sys:expression" use="optional"/>
        <xs:attribute name="Name" type="sys:expression" use="optional"/>
        <xs:attribute name="Connection" type="sys:expression" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="T_Command.CreateBlock">
    <xs:complexContent>
      <xs:extension base="sys:T_AbstractConditionalBlockProcessItem">
        <xs:attribute name="Command" type="sys:identifier" use="optional"/>
        <xs:attribute name="CommandText" type="sys:expression" use="required"/>
        <xs:attribute name="CommandType" type="sys:expression" use="required"/>
        <xs:attribute name="CommandTimeout" type="sys:expression" use="optional"/>
        <xs:attribute name="Name" type="sys:expression" use="optional"/>
        <xs:attribute name="Connection" type="sys:expression" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Objects" type="T_Objects"/>
  <xs:element name="Recordset.Open" type="T_OpenRecordsetProcessItem" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Recordset.Close" type="T_BaseRecordsetProcessItem" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Parameter.SetValue" type="T_ParameterSetValue" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Parameter.GetValue" type="T_ParameterGetValue" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Field.GetFieldObject" type="T_FieldGetFieldObject" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Connection.Open" type="T_ConnectionOpenProcessItem" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Connection.GetConnectionObject" type="T_ConnectionGetConnectionObject" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Connection.Close" type="T_BaseConnectionProcessItem" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Command.Execute" type="T_BaseCommandProcessItem" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Command.SetCommandTimeout" type="T_CommandSetCommandTimeoutProcessItem" substitutionGroup="sys:AbstractProcessItem"/>

  <xs:element name="Field.SetValue" type="T_FieldSetValue" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Field.GetValue" type="T_FieldGetValue" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Recordset.Delete" type="T_Recordset.Delete" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Recordset.Update" type="T_BaseRecordsetProcessItem" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Recordset.MoveNext" type="T_BaseRecordsetProcessItem" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Recordset.MovePrevious" type="T_BaseRecordsetProcessItem" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Recordset.AddNew" type="T_BaseRecordsetProcessItem" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Connection.Create" type="T_Connection.Create" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Command.Create" type="T_Command.Create" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Command.CreateBlock" type="T_Command.CreateBlock" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Connection.OpenBlock" type="T_ConnectionOpenBlockProcessItem" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Recordset.OpenBlock" type="T_Recordset.OpenBlock" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Recordset.Iterate" type="T_Recordset.Iterate" substitutionGroup="sys:AbstractProcessItem"/>
</xs:schema>
