XmlSchemas.Common.XmlScript/XMLScripting.Scope.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by MW (EMBRACE) -->
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema
  xmlns="urn:schemas-www-wisware.nl-xmlscripting-scope"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:sys="urn:schemas-www-wisware.nl-xmlscripting"
  targetNamespace="urn:schemas-www-wisware.nl-xmlscripting-scope" elementFormDefault="qualified">
  <xs:import namespace="urn:schemas-www-wisware.nl-xmlscripting" schemaLocation="XMLScripting.xsd"/>
  <xs:complexType name="TExploreEnumerations"/>
  <xs:complexType name="TExploreProcedures"/>
  <xs:complexType name="TExploreFunctions"/>
  <xs:complexType name="TExploreProperties"/>
  <xs:complexType name="TExploreMembers">
    <xs:sequence>
      <xs:element name="Procedures" type="TExploreProcedures" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Functions" type="TExploreFunctions" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Properties" type="TExploreProperties" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TExploreConstants"/>
  <xs:complexType name="T_BaseExplore">
    <xs:complexContent>
      <xs:extension base="sys:T_AbstractConditionalBlockProcessItem">
        <xs:attribute name="Info" type="sys:identifier"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="T_ScopeExplore">
    <xs:complexContent>
      <xs:extension base="T_BaseExplore">
        <xs:attribute name="IdentifierRegister" type="sys:identifier" use="optional"/>
        <xs:attribute name="IdentifierRegisterRef" type="sys:expression" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Scope.Explore" type="T_ScopeExplore" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Scope.ExploreEnumerations" type="T_BaseExplore" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Scope.ExploreDataClasses" type="T_BaseExplore" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Scope.ExploreInterfaces" type="T_BaseExplore" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Scope.ExploreClasses" type="T_BaseExplore" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Scope.ExploreTypedPointers" type="T_BaseExplore" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Scope.ExploreProcedures" type="T_BaseExplore" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Scope.ExploreFunctions" type="T_BaseExplore" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Scope.ExploreConstants" type="T_BaseExplore" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="Scope.ExploreLocals" type="T_BaseExplore" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="ScopeStructItem.ExploreProcedures" type="T_BaseExplore" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="ScopeStructItem.ExploreFunctions" type="T_BaseExplore" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="ScopeStructItem.ExploreFields" type="T_BaseExplore" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="ScopeStructItem.ExploreProperties" type="T_BaseExplore" substitutionGroup="sys:AbstractProcessItem"/>
  <xs:element name="ScopeItem.ExploreParameters" type="T_BaseExplore" substitutionGroup="sys:AbstractProcessItem"/>
</xs:schema>
