XmlSchemas.Common.KiCadBOMReporter/ComponentKinds.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ComponentKind">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Language">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name">
                      <xs:complexType>
                        <xs:attribute name="Text" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Header">
                      <xs:complexType>
                        <xs:attribute name="Text" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="LangID" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>